{% extends 'base.html' %}

{% block content %}
<div class="col-8 offset-2 my-4">
    <div class="container">
        <h3 class="h3-responsive text-center">Branch Logs(PM2 - JSON)</h3>
    </div>
</div>

<div class="col-4 offset-2 my-2">
    <div class="container">
        <a href="{{ url_for('manage_branches_single_project',project_id=project_id) }}">Back to Manage Branches</a>
    </div>
</div>

<div class="col-8 offset-2">
    <div class="container">
        <div class="jumbotron">
            <h3>Error Log</h3>
            {% if err_log_data %}
            <div style="overflow-x: scroll">
            <table id="errorLogTable" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <td>Message</td>
                            <td>Timestamp</td>
                            <td>Type</td>
                            <td>Proc ID</td>
                            <td>App Name</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for message in err_log_data %}
                    <tr>
                        <th class="th-sm">{{ message["message"] }}</th>
                        <th class="th-sm">{{ message["timestamp"] }}</th>
                        <th class="th-sm">{{ message["type"] }}</th>
                        <th class="th-sm">{{ message["process_id"] }}</th>
                        <th class="th-sm">{{ message["app_name"] }}</th>
    
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            {% else %}
                <p>No log available</p>
            {% endif %}
        </div>
    </div>
</div>



<div class="col-8 offset-2">
    <div class="container">
        <div class="jumbotron">
            <h3>Normal Log</h3>
            {% if norm_log_data %}
            <div style="overflow-x: scroll">
                <table id="normalLogTable" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="th-sm">Message</th>
                        <th class="th-sm">Timestamp</th>
                        <th class="th-sm">Type</th>
                        <th class="th-sm">Proc ID</th>
                        <th class="th-sm">App Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for message in norm_log_data %}
                <tr>
                    <td>{{ message["message"] }}</td>
                    <td>{{ message["timestamp"] }}</td>
                    <td>{{ message["type"] }}</td>
                    <td>{{ message["process_id"] }}</td>
                    <td>{{ message["app_name"] }}</td>

                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% else %}
                <p>No log available</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-4 offset-2 my-2">
        <div class="container">
            <a href="{{ url_for('manage_branches_single_project',project_id=project_id) }}">Back to Manage Branches</a>
        </div>
    </div>

{% endblock %}

{% block jsready %}
    $('#normalLogTable').DataTable({
        "order": [[ 1, "desc" ]]
        });
    $('.dataTables_length').addClass('bs-select');

    $('#errorLogTable').DataTable({
        "order": [[ 1, "desc" ]]
        });
    $('.dataTables_length').addClass('bs-select');   
{% endblock %}

