{% extends 'base.html' %}

{% block content %}

<!-- PLACE CONTENT HERE -->
<div class="col-6 offset-3">
        <div class="container">
            <!-- Material form login -->
            <div class="card my-5">
    
                <h5 class="card-header white-text text-center py-2 primary-color">
                    <strong>Change Password</strong>
                </h5>
            
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
            
                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <!-- Current Password -->
                        <div class="md-form">
                            <input type="password" id="cur_password" name="cur_password" class="form-control" required>
                            <label for="cur_password">Current Password</label>
                        </div>
                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" id="password" name="password" class="form-control" required>
                            <label for="password">Password</label>
                        </div>

                        <!-- Password -->
                        <div class="md-form">
                            <input type="password" id="password2" name="password2" class="form-control" required>
                            <label for="password2">Confirm Password</label>
                        </div>

                        <div class="d-flex justify-content-around">

                        </div>
                
                        <!-- Change button -->
                        <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Change Password</button>
                
                    </form>
                    <!-- Form -->
            
                </div>
          
          </div>
          <!-- Material form login -->
        </div>
    </div>

{% endblock %}