{% extends 'base.html' %}

{% block content %}
<!-- PLACE CONTENT HERE -->
<div class="col-6 offset-3">
    <div class="container">
        <div class="jumbotron">
            <div class="alert alert-danger fade show" role="alert">
                There was an error processing the form. {{ reason }}
            </div>
        </div>
    </div>
</div>

{% endblock %}