
</main>
<!--Main layout-->

	<!-- Footer -->
	<footer class="page-footer font-small blue">

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">&copy; 2018 Josh Menzel:
		<a href="https://menzelstudios.com">menzelstudios.com</a>
		&nbsp; All Rights Reserved.
	  </div>
	  <!-- Copyright -->

	</footer>
	<!-- Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/js/mdb.js"></script>
	
	<!-- MDB Datatables -->
	<script type="text/javascript" src="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/js/addons/datatables.min.js"></script>

	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
		$('.mdb-select').materialSelect();

		{% block jsready %}
		{% endblock %}
</script>
</body>


</html>