<!--Navbar-->
    <!--Main Navigation-->
    <header>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm navbar-dark primary-color scrolling-navbar">
          <div class="container">

              <!-- Brand -->
              <a class="navbar-brand waves-effect" href="https://menzelstudios.com" target="_blank">
                  <strong class="white-text">GCC</strong>
              </a>

              <!-- Collapse -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- Links -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                  <!-- Left -->
                  <ul class="navbar-nav mr-auto">
                      <!--<li class="nav-item active">
                          <a class="nav-link waves-effect" href="#">Home
                              <span class="sr-only">(current)</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About MDB</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank">Free download</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free tutorials</a>
                      </li>-->
                  </ul>

                  <!-- Right -->
                  <ul class="navbar-nav nav-flex-icons">
                      <!--<li class="nav-item">
                          <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                              <i class="fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                              <i class="fab fa-twitter"></i>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                              target="_blank">
                              <i class="fab fa-github mr-2"></i>MDB GitHub
                          </a>
                      </li>-->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                            {% if session['gcc_username'] %}
                              <a class="dropdown-item" href="{{ url_for('home') }}">Home</a>
                              <a class="dropdown-item" href="{{ url_for('manage_users') }}">Manage Users</a>
                              <a class="dropdown-item" href="{{ url_for('manage_projects') }}">Manage Projects</a>
                              <a class="dropdown-item" href="{{ url_for('change_password') }}">Change Password</a>
                              <a class="dropdown-item" href="{{ url_for('logout') }}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                              <form id="logout-form" action="{{ url_for('logout') }}" method="POST" style="display: none;"></form>
                            {% else %}
                              <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
                            {% endif %}
                          </div>
                        </li>
                  </ul>
              </div>

          </div>
      </nav>
      <!-- Navbar -->

  </header>
  <!--Main Navigation-->
<!--End Navbar-->


<!--Main Body-->
<main class="mt-5 pt-5">

<!--Alerts-->
<div class="col-6 offset-3">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>
<!--End Alerts-->