<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/css/mdb.min.css" rel="stylesheet">

  <!-- MDB Datatables -->
  <link href="https://cdn.menzelstudios.com/MDB Pro/MDB 4.7.4/css/addons/datatables.min.css" rel="stylesheet">

</head>

<body>