{% extends 'base.html' %}

{% block content %}

<!-- PLACE CONTENT HERE -->
<div class="modal fade" id="modalNewProject" tabindex="-1" role="dialog"
  aria-hidden="true">
  <form method="POST" id="form_new_project">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="new_project_name" name="new_project_name" class="form-control validate" required>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Project Name</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="text" id="new_project_url" name="new_project_url" class="form-control validate" required>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Clone URL</label>
        </div>
        <input type="hidden" id="form" name="form" value="form_new_project" style="display: none;">
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  </form>
</div>


{% if project_list %}
<div class="col-8 offset-2">
    <div class="container">
        <h3 class="h3-responsive text-center">Manage Projects</h3>
        <div style="overflow-x: scroll">
        <table id="tableManageProjects" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Project Name</th>
                    <th class="th-sm">Clone URL</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <td class="align-middle">
                        {{ project["project_name"] }}
                    </td>
                    <td class="align-middle">
                            {{ project["clone_url"] }}
                    </td>
                    <td class="align-middle">
                      <a href="{{ url_for('manage_branches_single_project',project_id=project['id']) }}"><button type="button" class="btn btn-primary btn-rounded btn-sm">Manage Branches</button></a>
                    </td>
                    <td class="align-middle">
                        <a href="{{ url_for('manage_projects') }}" onclick="deleteFormOnClick({{ project['id'] }})">
                         <button type="button" class="btn btn-danger btn-rounded btn-sm">Delete</button></a>
                        
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form id="form-delete-project" action="{{ url_for('manage_projects') }}" method="POST" style="display: none;"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/><input type="hidden" name="form" value="form-delete-project"><input type='hidden' id='project_to_delete_id' name='project_to_delete_id' value='-1'></form>
        <script type="text/javascript">
          function deleteFormOnClick(form)
          {
            event.preventDefault();
            document.getElementById('project_to_delete_id').value=form;
            document.getElementById('form-delete-project').submit(); 
          }
        </script>
    </div>
</div>
{% endif %}


<div class="text-center">
  <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalNewProject">
    New Project</a>
</div>

{% endblock %}