{% extends 'base.html' %}

{% block content %}


<!-- PLACE CONTENT HERE -->
<div class="modal fade" id="modalNewBranch" tabindex="-1" role="dialog"
  aria-hidden="true">
  <form method="POST" id="form_new_branch">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Branch</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        
            <select class="mdb-select md-form colorful-select dropdown-primary" name="new_branch_project_id" id="new_branch_project_id">
                <option value="" disabled selected>Select a Project</option>
                {% if project_list %}
                    {% for project in project_list %}
                <option value="{{ project["id"] }}" >{{ project["project_name"] }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <label>From Project</label>
            

            <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="new_branch_name" name="new_branch_name" class="form-control validate" required>
            <label data-error="wrong" data-success="right" for="new_branch_name">Branch Name</label>
            </div>

            <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="text" id="new_branch_script_path" name="new_branch_script_path" class="form-control validate" required>
            <label data-error="wrong" data-success="right" for="new_branch_script_path">Script Path</label>
            </div>

            <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="text" id="new_branch_script_command" name="new_branch_script_command" class="form-control validate" required>
                <label data-error="wrong" data-success="right" for="new_branch_script_command">Script Command</label>
            </div>

            <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="text" id="new_branch_gitlab_token" name="new_branch_gitlab_token" class="form-control validate" required>
                <label data-error="wrong" data-success="right" for="new_branch_gitlab_token">Gitlab Token</label>
            </div>

            <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text"></i>
                <input type="number" id="new_branch_pm2_id" name="new_branch_pm2_id" class="form-control validate">
                <label data-error="wrong" data-success="right" for="new_branch_pm2_id">PM2 ID</label>
            </div>


            <input type="hidden" id="form" name="form" value="form_new_branch" style="display: none;">
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  </form>
</div>

{% if branch_list %}
<div class="col-8 offset-2">
    <div class="container">
        <h3 class="h3-responsive text-center">Manage Branches</h3>
        <table id="tableBranches" class="table table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Project Name</th>
                    <th class="th-sm">Branch Name</th>
                    <th class="th-sm">Script Path</th>
                    <th class="th-sm">Script Command</th>
                    <th class="th-sm">Gitlab Token</th>
                    <th class="th-sm">PM2 ID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for branch in branch_list %}
                <tr>
                    <td class="align-middle">
                        {{ branch["project_name"] }}
                    </td>
                    <td class="align-middle">
                        {{ branch["branch_name"] }}
                    </td>
                    <td class="align-middle">
                        {{ branch["clone_script_path"] }}
                    </td>
                    <td class="align-middle">
                        {{ branch["clone_script_command"] }}
                    </td>
                    <td class="align-middle">
                        {{ branch["gitlab_token"] }}
                    </td>
                    <td class="align-middle">
                        {{ branch["pm2_id"] }}
                    </td>
                    <td class="align-middle">
                        {% if branch["pm2_id"] %}
                        <a href="{{ url_for('branch_logs',pm2_id=branch['pm2_id']) }}"><button type="button" class="btn btn-primary btn-rounded btn-sm">View Logs</button></a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a href="{{ url_for('manage_branches') }}" onclick="event.preventDefault(); document.getElementById('form-delete-branch').submit();"><button type="button" class="btn btn-danger btn-rounded btn-sm">Delete</button></a>
                        <form id="form-delete-branch" action="{{ url_for('manage_branches') }}" method="POST" style="display: none;"><input type="hidden" name="form" value="form-delete-branch"><input type='hidden' name='branch_to_delete_id' value='{{ branch["id"] }}'></form>
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


<div class="text-center">
        <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalNewBranch">
          New Branch</a>
      </div>

{% endblock %}